<style>
    body {
        background-image: url(img/hb.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>
<section>
    <div class="col-lg-8 m-auto">
        <div class="card card-cascade narrower">

            <div class="view view-cascade gradient-card-header" style="background-image: url(img/H4tz.gif); background-position: center;background-repeat: no-repeat;background-size: cover;">


                <h2 class="card-header-title">Quên mật khẩu</h2>

                <p>Vui lòng nhập chính xác thông tin để lấy lại mật khẩu</p>
            </div>

            <div class="card-body card-body-cascade p-5">

                <form name="frmRegister">
                    <div class="md-form md-outline">
                        <i class="fas fa-user prefix text-primary"></i>
                        <input name="username" ng-model="username" type="text" id="username" class="form-control border-primary" required maxlength="25">
                        <label class="bg-white text-primary rounded px-2 ml-5" for="username"><strong>Tên đăng ký (tài khoản)</strong></label>
                        <small ng-show="frmRegister.username.$invalid" id="username" class="form-text text-danger">Vui lòng nhập tài khoản</small>
                    </div>

                    <div class="md-form md-outline">
                        <i class="far fa-envelope prefix text-primary"></i>
                        <input name="email" ng-model="email" type="email" id="email" class="form-control border-primary" required>
                        <label class="bg-white text-primary rounded px-2 ml-5" for="email"><strong>Email</strong> </label>
                        <small ng-show="frmRegister.email.$error.required" id="email" class="form-text text-danger">Vui lòng nhập email</small>
                        <small ng-show="frmRegister.email.$error.email" id="email" class="form-text text-danger">Không đúng định dạng email</small>
                    </div>

                    <div class="text-center mt-4">
                        <button ng-click="getPass()" ng-disabled="frmRegister.$invalid" class="btn morpheus-den-gradient btn-rounded text-white">Xác nhận</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</section>