.container-fluid,
        .container-lg,
        .container-md,
        .container-sm,
        .container-xl {
            width: 100%;
            padding-right: 0px;
            padding-left: 0px;
            margin-right: auto;
            margin-left: auto;
        }

        @media (min-width: 1200px) {
            .container {
                max-width: 1170px;
            }
        }

        body {
            background-color: #f6f6f6;
            background-color: #f1f3fe;
        }

        a {
            text-decoration: none !important;
        }

        a:hover {
            color: #23B5E1 !important;
        }

        .navbar li a {
            display: block;
            padding: 13px 20px 11px;
            margin: 0px;
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
            color: #2c2c2c;
            border: 2px solid transparent;
            position: relative;
        }

        .navbar .home {
            border: 2px solid #201c1d;
            border-radius: 3px;
        }

        .navbar .home a:focus,
        .navbar .home a:hover {
            color: #2c2c2c !important;
        }

        .dropdown-item.active,
        .dropdown-item:active {
            color: #fff !important;
            background-color: #23B5E1 !important;
        }

        .sticky {
            position: fixed;
            top: 0;
            z-index: 1 !important;
            width: 100%;
            box-shadow: 0 3px 10px 0 rgba(115, 143, 147, 0.3);
        }

        .sticky2 {
            padding-top: 4.7rem;
        }

        h2 {
            font-size: 42px;
            font-weight: 300;
            line-height: 1.52;
            margin-top: 24px;
        }

        .spacer {
            height: 6px;
            width: 100px;
            background-color: #23B5E1;
            margin-bottom: 40px;
        }

        .footer {
            padding-top: 50px;
            padding-bottom: 50px;
            color: #99979c;
            background-color: #2a2730;
            margin-top: 30px;
        }

        .footer a {
            color: white;
        }

        .footer a:focus,
        .footer a:hover {
            color: white !important;
            text-decoration: underline !important;
        }

        .footer p {
            margin-bottom: 0rem !important;
        }