<style>
    body {
        background-image: url(img/login.gif);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>

<section>
    <div class="col-lg-8 m-auto">
        <div class="card card-cascade narrower rgba-white-strong">

            <div class="view view-cascade gradient-card-header" style="background-image: url(img/H4tz.gif); background-position: center;background-repeat: no-repeat;background-size: cover;">

                <h2 class="card-header-title">Đổi mật khẩu</h2>

                <p>Tài khoản: {{student.username}}</p>
            </div>

            <div class="card-body card-body-cascade p-5">

                <form name="frmChangPass">

                    <div class="md-form md-outline">
                        <i class="fas fa-lock prefix deep-purple-text"></i>
                        <input minlength="6" name="oldpassword" ng-model="oldpassword" type="password" id="oldpassword" class="form-control border-primary" required>
                        <label class="bg-white deep-purple-text rounded px-2 ml-5" for="oldpassword"><strong>Mật khẩu cũ</strong></label>
                        <small ng-show="frmChangPass.oldpassword.$error.required" id="oldpassword" class="form-text text-danger">Vui lòng nhập mật khẩu cũ</small>
                        <small ng-show="frmChangPass.oldpassword.$error.minlength" id="oldpassword" class="form-text text-danger">Mật khẩu không đúng</small>

                    </div>

                    <div class="md-form md-outline">
                        <i class="fas fa-lock prefix deep-purple-text"></i>
                        <input minlength="6" name="password" ng-model="studentR.password" type="password" id="password" class="form-control border-primary" required>
                        <label class="bg-white deep-purple-text rounded px-2 ml-5" for="password"><strong>Mật khẩu mới</strong> </label>
                        <small ng-show="frmChangPass.password.$error.required" id="password" class="form-text text-danger">Vui lòng nhập mật khẩu mới</small>
                        <small ng-show="frmChangPass.password.$error.minlength" id="password" class="form-text text-danger">Mật khẩu phải hơn 6 kí tự</small>

                    </div>
                    <div class="md-form md-outline">
                        <i class="fas fa-lock prefix deep-purple-text"></i>
                        <input name="renewpassword" ng-model="renewpassword" type="password" id="renewpassword" class="form-control border-primary" required re-pass>
                        <label class="bg-white deep-purple-text rounded px-2 ml-5" for="renewpassword"><strong>Mật khẩu mới (nhập lại)</strong> </label>
                        <small ng-show="frmChangPass.renewpassword.$error.required" id="renewpassword1" class="form-text text-danger">Vui lòng nhập lại mật khẩu</small>
                        <small ng-show="frmChangPass.renewpassword.$invalid && !frmChangPass.renewpassword.$error.required" id="renewpassword2" class="form-text text-danger">Mật khẩu nhập lại không khớp</small>
                    </div>
                    <div class="text-center mt-4">
                        <button ng-click="change()" ng-disabled="frmChangPass.$invalid" class="btn purple-gradient btn-rounded">Đổi mật khẩu</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</section>